@using MoviePro.ViewModels


@model LandingPageVM



@{
    ViewData["Title"] = "Movie Pro";
}

<section class="px-4">
    <div class="row">
        <span class="btn btn-lg form-control btn-warning font-weight-bolder border-dark">UPCOMING</span>
    </div>
    <div class="row">
        <div class="carousel carousel-dark slide" id="carouselExampleDark" data-bs-interval="8000" data-bs-ride="carousel">
@*            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>*@
            <div class="carousel-inner">
                @{
                    var classText = "active";

                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.Upcoming.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clamp-title">@movie.title</h5>
                                                <p class="card-text clamp-overview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-warning form-control">
                                                    Details
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        classText = "";
                    }




                }

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon carousel-control-left" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next carousel-control-right" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</section>

<section class="px-4">
    <div class="row">
        <span class="btn btn-lg form-control btn-warning font-weight-bolder border-dark">Now Playing</span>
    </div>
    <div class="row">
        <div class="carousel-dark slide" data-bs-interval="8000" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                @{
                    classText = "active";

                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.NowPlaying.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clamp-title">@movie.title</h5>
                                                <p class="card-text clamp-overview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-warning form-control">
                                                    Details
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        classText = "";
                    }




                }

            </div>

        </div>
    </div>
</section>

<section class="px-4">
    <div class="row">
        <span class="btn btn-lg form-control btn-warning font-weight-bolder border-dark">Popular</span>
    </div>
    <div class="row">
        <div class="carousel-dark slide" data-bs-interval="8000" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                @{
                    classText = "active";

                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.Popular.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clamp-title">@movie.title</h5>
                                                <p class="card-text clamp-overview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-warning form-control">
                                                    Details
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        classText = "";
                    }




                }

            </div>

        </div>
    </div>
</section>

<section class="px-4">
    <div class="row">
        <span class="btn btn-lg form-control btn-warning font-weight-bolder border-dark">TOP RATED</span>
    </div>
    <div class="row">
        <div class="carousel-dark slide" data-bs-interval="8000" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                @{
                    classText = "active";

                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.TopRated.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clamp-title">@movie.title</h5>
                                                <p class="card-text clamp-overview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-warning form-control">
                                                    Details
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorsDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        classText = "";
                    }




                }

            </div>

        </div>
    </div>
</section>













