@using MoviePro.ViewModels
@model LandingPageVM



@{
    ViewData["Title"] = "Movie Pro";
}

<section class="px-4">
    <div class="row">
        <span class="btn btn-lg form-control btn-warning font-weight-bolder border-dark">UPCOMING</span>
    </div>
    <div class="row mt-1">
        <div class="carousel carousel-dark slide" id="upcomingCarousel" data-bs-interval="8000" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    var classText = "active";

                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.Upcoming.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clamp-title">@movie.title</h5>
                                                <p class="card-text clamp-overview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-warning form-control">
                                                    Details
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
            <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#upcomingCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon carousel-control-left" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control carousel-control-next carousel-control-right" type="button" data-bs-target="#upcomingCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</section>
<section class="px-4">
    <div class="row">
        <span class="btn btn-lg form-control btn-warning font-weight-bolder border-dark">NOW PLAYING</span>
    </div>
    <div class="row mt-1">
        <div class="carousel carousel-dark slide" id="nowPlayingCarousel" data-bs-interval="8000" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";

                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.NowPlaying.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clamp-title">@movie.title</h5>
                                                <p class="card-text clamp-overview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-warning form-control">
                                                    Details
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
            <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#nowPlayingCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon carousel-control-left" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control carousel-control-next carousel-control-right" type="button" data-bs-target="#nowPlayingCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</section>
<section class="px-4">
    <div class="row">
        <span class="btn btn-lg form-control btn-warning font-weight-bolder border-dark">POPULAR</span>
    </div>
    <div class="row mt-1">
        <div class="carousel carousel-dark slide" id="popularCarousel" data-bs-interval="8000" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";

                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.Popular.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clamp-title">@movie.title</h5>
                                                <p class="card-text clamp-overview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-warning form-control">
                                                    Details
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
            <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#popularCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon carousel-control-left" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control carousel-control-next carousel-control-right" type="button" data-bs-target="#popularCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</section>
<section class="px-4">
    <div class="row">
        <span class="btn btn-lg form-control btn-warning font-weight-bolder border-dark">TOP RATED</span>
    </div>
    <div class="row mt-1">
        <div class="carousel carousel-dark slide" id="topRatedCarousel" data-bs-interval="8000" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";

                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.TopRated.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-sm-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title clamp-title">@movie.title</h5>
                                                <p class="card-text clamp-overview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-warning form-control">
                                                    Details
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
            <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#topRatedCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon carousel-control-left" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control carousel-control-next carousel-control-right" type="button" data-bs-target="#topRatedCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</section>
