@using MoviePro.Models.Database
@using MoviePro.Services.Interfaces
@inject IImageService _imageService
@model Movie

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <img src="@_imageService.DecodeImage(Model.Poster, Model.PosterType)" class="with-100" alt="Movie Image" />
        </div>
        <div class="row">
            <button class="btn btn-lg form-control btn-danger font-weight-bold" data-toggle="modal" data-target="#trailer">WATCH TRAILER</button>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">TITLE</span> @Model.Title
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col h5">
            <span class="font-weight-bolder mr-2">RELEASED:</span> @Model.ReleaseDate.ToString()
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col h5">
        <span class="font-weight-bolder mr-2">RATING:</span> @Model.Rating
    </div>
</div>

<hr />

<div class="row">
    <div class="col h5">
        <span class="font-weight-bolder mr-2">REVIEWS:</span> @Model.VoteAverage / 10
    </div>
</div>

<hr />

<div class="row mt-3 mb-2">
    <div class="col">
        <span class="h5 font-weight-bolder"> OVERVIEW:</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <span class="h5 ml-4">@Model.Overview</span>
    </div>
</div>

<div class="row">
</div>


<!-- Modal -->

<div class="modal fade" id="trailer" tabindex="-1" role="dialog" aria-labelledby="trailerLabel" aria-hidden="true">
    
</div>